body {
  background-color: #f9fafb;
}

.react-grid-Main {
  padding: 20px;
}
.react-grid-HeaderCell {
  font-size: 10px;
}
.container {
  display: flex;
}
#two {
  float: right;
}
#four {
  float: right;
}

.react-grid-Cell {
  font-size: 10px;
  background: #F9FAFB;
  border: 2px solid white;
}
