body {
  background-color: #f9fafb;
}

.react-grid-Main {
  padding: 20px;
}
.react-grid-HeaderCell {
  font-size: 10px;
}
.container {
  display: flex;
}
#two {
  float: right;
}
#four {
  float: right;
}

.react-grid-Cell {
  font-size: 10px;
  background: #F9FAFB;
  border: 2px solid white;
}

.inner-stat {
  font-weight: 500;
  color: #72777a;
  font-size: .8rem;
  line-height: 18px;
  letter-spacing: -0.04px;
  margin-bottom: .35rem;
  margin-left: 1rem;
}

.inner-stat span {
  font-weight: 600;
  color: rgb(42, 54, 59);
  font-size: .9rem;
  float: right;
  margin-right: 20px;
}
